<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<link href="/stylesheets/prettify.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<canvas class="blur" src="/images/sf.jpg"></canvas>
	<h1>How the hell do I inherit with JavaScript?</h1>
  <h4>There's a hojillion kabillion different ways to do inheritance in JavaScript.</h4>
  <h4>I made this in case if you are fine with just one.</h4>


<br /><br /><br />


<span class="help" data-position-at-anchor="mammal">
  <span class="code highlight">mammal</span> is a function that creates a fresh mammal object.
  This is often referred to as a <i>constructor</i> in JavaScript lingo, 
  but since you probably have strong previous preconceptions about what
  a constructor is, so it's better to think of it just as "a function that returns a fresh mammal object" for now.
  
  <br /><br />

  <span class="code highlight">names</span> is a variable declared inside the mammal constructor which means that it's only accessible by functions declared inside of the mammal constructor. If this was Java, you would have used the <span class="code">private</span> keyword to do this.

</span>


<span class="help right" data-position-at-anchor="shared">
  <p><span class="code highlight">shared</span> is simply an object containing variables and functions that mammal uses to share functions and variables with it's children without making them public.</p>
  
  <p>The <span class="code highlight">shared</span> object is initially created by the child at the end 
  of the hierarchy chain and is passed up all the way to the parent
  at the top of the chain.</p>

  <p>If this was Java, you would have used the <span class="code">protected</span>keyword to do this.</p>

</span>

<span class="help" data-position-at-anchor="get_fur">
  Notice how we simply add a new function, <span class="code highlight">get_fur</span>, on the newly created mammal, and then just return it, because a mammal with a <span class="code highlight">get_fur</span> function <i>is</i> a furry mammal! We're done! Do you see how simple a world without classes becomes?
</span>



<div class="box code"><pre class="prettyprint">
  <a id="mammal" />var mammal = function(spec, shared) {

    // Private
    <a id="names" />var names = [ 'Wayne', 'Francesca', 'John', 'Jackie' ];
  

    
    // Shared
    <a id="shared" />shared = shared || {}; 

    shared.randomName = function() {
      var randomIndex = Math.round( Math.random() * names.length );
      return names[randomIndex];
    }



    // Public
    var o = {};
    
    o.get_name = function() {
      return spec.name;
    }

    o.get_weight = function() {
      return spec.weight;
    } 

    o.talk = function() {
      return '...';
    }

}
</pre></div>

<div class="box question">
  <h3>Huh, is the above how you create a class in JavaScript?</h3>

  <p><b>There are no classes in JavaScript, and that is as it should be!</b> Classes make sense in strongly typed languages (because the compiler needs them) but in dynamic languages, they just get in the way.</p>

  <p>Yes, there are some programmers that try to 
  re-create the concept of classes in JavaScript, but that is 
  like traveling to France just to eat at McDonalds.</p>

  <p>Instead, <b>JavaScript objects simply inherit other objects</b>. 
  Kind of like how you are a child of your mother - there isn't 
  some mother-class that is extended by a you-class.</p>
</div>

<div class="box code"><pre class="prettyprint">
var furry = function(spec, shared) {

  shared = shared || {};
  
  // A furry mammal is simply a mammal ...
  var o = mammal(spec, shared);

  <a id="get_fur" />// with fur...
  o.get_fur = function() {
    return spec.fur;
  }

  return o;


}
</pre></div>


<div class="box question">
  <h3>But what about TYPE? How can I detect what 
     kind of object something is if it doesn't have a class?</h3>

  <p>Hush - it's okay. You've been working with classes for a 
     long time and have become obsessed with taxonomies of things. 
     You have become concerned with what things ARE when in reality 
     it's only important what they <i>can do</i>.</p>

  <p>It doesn't matter if a programmer is a man or a woman, 
     or black and white, it matters whether they can code or not.</p>
  
  <p>In Java, you check if an object is created from the Duck class, but in reality, it's the capability of something that is important:</p>

  <pre class="prettyprint">
     if (animal.quack)  {
       animal.quack();
     }
  </pre>
   
  <p>As they say: <a href="http://en.wikipedia.org/wiki/Duck_test">"If it looks like a duck and quacks like a duck ..."</a></p>
     
</div>


<span class="help" data-position-at-anchor="override">
  Notice how there is no need for any <span class="code">override</span> keyword in JavaScript, we simply replace the existing function with a new one.
</span>

  


<div class="box code"><pre class="prettyprint">

var cat = function(spec, shared) {
  shared = shared || {};

  // A cat is in essence a furry mammal ...
  var o = furry(spec);
  
  // that talks in a different way ...
  <a id="override" />o.talk = function() {
    return "Meow! I'm " + o.get_name() + "!";
  }

  return o;
}
</pre></div>

<div class="box question">
  <h3>What? Did you just simply <i>replace</i> the talk function? What if I want to access the original talk function, like I can do with super() in language X?</h3>

  <p>While it's very easy to implement super() in JavaScript I'm not including that technique in this guide because I've <b>never found a need for it</b>. While the super concept is very important in strongly typed languages, there just doesn't seem to be a need for it in JavaScript.</p>
</div>


<div class="box code"><pre class="prettyprint">
var dog = function(spec) {
  var o = furry(spec);

  // A public variable
  o.chasing = null;

  // Public method
  o.talk = function() {
    return "Woof! Woof!";
  }

  // Public method
  o.chase = function(cat) {
    // Assign values to the public variable.
    o.chasing = cat;
  }

  return o;
}


var chester = cat({ 
  name: "Chester", 
  weight: 1.2,
  fur: "White" 
});

var fido = dog({ 
  name: "Fido", 
  weight: 12.4,
  fur: "Brown" 
});

chester.talk(); // Meow, I'm Chester!
fido.talk();  // Woof! Woof!
fido.chase(chester);
fido.chasing.get_fur(); // White

</pre></div>

</body>


<script type="text/javascript" src="/javascripts/prettify/prettify.js"></script>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/canvas-blur.js"></script>

<script type="text/javascript">

$(document).ready(function() {
  prettyPrint(function() {
    setTimeout(function() {
      $("*[data-position-at-anchor]").each(function() {
        var $this = $(this),
            anchor = $this.attr('data-position-at-anchor'),
            anchorSelector = '#'.concat(anchor),
            anchorOffset = $(anchorSelector).offset()
        $this.css('top', anchorOffset.top + "px");
      })
    },200) // plz make your goddamn js libs callbacks that work, Google.
    
  })

})

</script>

</html>