@font-face {
  font-family: "League Gothic";
  src: url("/fonts/League_Gothic-webfont.eot");
  src: local("☺"),
    url("/fonts/League_Gothic-webfont.woff") format("woff"),
    url("/fonts/League_Gothic-webfont.otf") format("opentype"),
    url("/fonts/League_Gothic-webfont.svg#League_Gothic-webfont") format("svg");
  }
h1 { 
  font-family: "League Gothic", Georgia, serif;
  text-transform:uppercase;
  font-size: 80px;
  color: white;
  margin: 0;
}
h4 {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  color: white
}

html, body { 
  width: 100%; 
  height: 100%; 
  display: block; 
  overflow-y: scroll; 
  font-family: 'Helvetica Neue', 'Trebuchet MS', sans-serif;

}

.blur {
  display: inline-block;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0.7;
}

body { padding: 30px;}

div.boxContainer {
  text-align: left;

}

div.box {
  background-color: white;
  width: 370px;
  display: inline-block;
  clear: right;
  padding: 20px;
  font-size: 20px;
  text-align: left;
}

span.help {
  position: absolute;
  left: 30px;
  background-color: white;
  color: black;
  padding: 13px;
  width: 250px;
  font-size: 13px;
}

span.help.right {
  left: 1100px;
}

span.help.mammal {
  top: 380px;
}

span.help.names {
  top: 450px;
}

span.help.shared {
  top: 575px;
}

span.help .code {
  font-family: monospace;
}

span.help .highlight {
  color: green;
  font-weight: bold;
}